body {
    display: flex;
    padding: 1.5rem;
    display: block;
    max-width: 60rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    color: #545454;
    background: url("../static/images/noise.svg");
}

nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.8rem;
    text-align: left;
    text-decoration: none;
    border-style: double;
    border-color: #7d7d7d;
}


.cat1 {
    max-width: 50%;
    transition: 0.2s;
    transition-timing-function: ease-out;
    image-rendering: pixelated;
}

.cat1:hover {
    scale: 1.5 0.76;
}

.home-page-body {
    display: flex;
    gap: 1rem;
}

.nav-pages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}

.nav-pages li {
    float: left;
}

.nav-pages li a {
    display: block;
    text-align: center;
    padding-right: 0.5rem;
    text-decoration: none;
    color: #636361;
}

.nav-pages li a span {
    display: inline-block;
}

.nav-pages li a:hover span {
    animation: wavy 1.5s ease infinite, rainbow 3.5s linear infinite;
}


.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-template-rows: masonry;
    gap: 10px;
    border-style: double;
    border-color: #7d7d7d;
    flex: 50%;
}

.project-text {
    margin: 1rem;
}

.sidebar-container {
    border-style: double;
    border-color: #7d7d7d;
    flex: 20%;
}

.about-me-text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    color: #262626;
    border-color: #7d7d7d;
}


.footer {
    padding-top: 5rem;
    color: #636361;
}

.footer-text {
    text-align: center;
}

.footer-text a {
    text-decoration: none;
    color: #636361;
}

.corner-friend {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
}

.corner-friend:hover {
    animation: shake 0.5s infinite;
}

/*----------------------------------------------------------------*/

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


@keyframes wavy {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.5rem);
    }
}


@keyframes rainbow {

    100%,
    0% {
        color: #C0C0C0;
    }

    20% {
        color: #A9A9A9;
    }

    40% {
        color: #808080;
    }

    60% {
        color: #696969;
    }

    80% {
        color: #2F4F4F;
    }

}
