body {
    margin: 0;
}



.wrapper {
    width: 900px;
    margin: 0 auto;
}

.sidebar-img,
.footer,
.title,
.links,
.box {
    margin-top: 25px;
}

.title,
.links,
.footer {
    text-align: center;
}
