body {
    display: flex;
    padding: 1.5rem;
    display: block;
    max-width: 60rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.8rem;
    text-align: left;
    text-decoration: none;
    border-style: double;
    border-color: #7d7d7d;
}

/* Separate the navigation page numbers*/
.nav_page {}

.footer_text {
    text-align: center;
}

.cow {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
}

.no-marker {
    display: block;

}
