<!doctype html>
<html lang="en">

<!-- oomm, my nasty html code. taken bit and bits from the world wide web. -->

<head>
    <base href="{{ BASE_URL }}">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta charset="utf-8">
    <link rel="icon" href="static/favicons/favicon.ico">
</head>

<body>

    <div id="container">
        <table width="100%" style="height: 100%;" cellpadding="10" cellspacing="0" border="0">
            <a href="/"><img src="static/images/cat01_e0.gif"></a>

            <nav class="navbar">
                <li class="nav_page">
                    <a href="/">home</a>
                    <a href="/">guestbook</a>
                    <a href="/">art</a>
                    <a href="/">notes</a>
                </li>
            </nav>

            <td width="25%" valign="top">&nbsp;</td>

            <div class="footer">
                <tr>
                    <td class="footer_text" height="20">polych © 2026</td>
                </tr>
            </div>

            <div class="cow">
                <img src=" static/images/cow.gif" alt="">
            </div>
        </table>

    </div>

</body>

</html>
